/*
firstColor:#08526d;
secondColor:#ec1c23;
 */

/*Start upper Bar*/


.upper-up{
    background-color:#08526d ;
    color:#fff;

}

.upper-up .info{
    margin :15px 0;
}

@media (max-width: 576px) {
    .upper-up .info:first-child{
        margin-bottom: 0;
    }
}
.upper-up span{
    color:#bfc6c9;
}

.get-quote{
   display:inline-block;
    border:1px solid #ec1c23;
    padding: 2px 10px;
    text-transform: capitalize;
    margin-left: 20px;
}
@media (max-width: 576px) {
    .upper-up .get-quote{
        border:none;
        margin-left: 5px;
    }
}

/*End upper Bar*/

/*Start Navbar*/
.navbar-brand{
    font-size: 40px;
    text-transform: capitalize;
}

.navbar-brand span:first-child{
    color:#08526d;
    font-weight: bold;
}
.navbar-brand span:last-child {
    color: #ec1c23;
}

 .navbar-nav .nav-link{
     font-size: 15px;
     text-transform: uppercase;
     margin-left: 15px;
     color:#08526d !important;
 }

 .navbar-light .navbar-nav .active > .nav-link{
     color: #ec1c23 !important;
}

/*End Navbar*/
/*Start Slider*/
.slider{
    background-color: #ddd;
}

.slider .carousel-inner{
    display: flex;
    align-items: center;
    justify-content: left;
}

@media(max-width: 768px) {
    .slider .carousel-inner{
    justify-content: center;
    }
}

.slider .carousel-inner h1{
    position:absolute;
    max-width: 900px;
    font-size: 67px;
    color:#fff;
    z-index: 3;
    line-height: 1.4;
    left:100px;
}
@media(max-width: 768px) {
    .slider .carousel-inner h1{
        font-size: 40px;
        max-width: 100%;
        left:auto;
        text-align: center;
    }

    }
.slider .carousel-inner h1 span{
    background-color:  #ec1c23;
    display: inline-block;
    padding:1px 15px;
}

.slider .carousel-inner .overlay{
    position:absolute;
    width: 100%;
    height:100%;
    left:0;
    top:0;
    background-color: rgba(0,0,0,.6);
    z-index: 2;
}
.slider .carousel-item{
    background-size: cover;
}

.slider .carousel-one{
    background-image: url(../images/img1.png) ;
}

.slider .carousel-tow{
    background-image: url(../images/img2.jpg) ;
}

.slider .carousel-indicators li{
    height: 8px;
    cursor: pointer;
}

.slider .carousel-three{
    background-image: url(../images/img3.jpg) ;
}

/*End Slider*/
/*Start Features*/

.features{
    padding:50px 0;
}

.features i{
  background-color:#ec1c23 ;
    color:#fff;
    padding:15px;
    margin-bottom: 10px;
}

.features h3{
    color:#08526d;
}

.features p{
    color:#989898;
    margin-bottom: 40px;
}
/*End Features*/
/*Start Overview*/

.overview{
    background-color: #f0f5f7;
    padding:100px 0;
}

.overview h2{
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}
@media (max-width: 992px) {
    .overview h2{
        font-size: 30px;
        margin-bottom: 15px;

    }
}
.overview p{
    width:80%;
    margin:0 auto 15px;
    color:#6a6a6a;
    font-size: 20px;

}
@media (max-width: 992px) {
    .overview p{
        width:100%;

    }
}

.overview h4{
    letter-spacing: 2px;
    color:#687074;
    font-weight: normal;
    margin-bottom: 40px;

}

.overview button{
    background-color: #ed1d24;
    color:#fff;
    border:none;
    padding:2px 20px;
    font-weight: bold;
}
/*End Overview*/

/*start featured work*/
.featured-work{
    padding:100px 0;
}

.featured-work h2{
    font-size: 45px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.featured-work p{
    width:80%;
    margin:0 auto 15px;
    color:#6a6a6a;
    font-size: 20px;

}
.featured-work ul{
    margin-top:40px;
    margin-bottom: 50px;
}
.featured-work ul li{
    text-transform: uppercase;
    color:#08526d;
    border:2px solid #08526d;
    padding:10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
}

.featured-work ul li.active,
.featured-work ul li:hover{
    background-color:#ed1d24;
    border:2px solid #ed1d24;
    color:#fff;
}

.featured-work ul li:hover{
    cursor: pointer;
}


.featured-work .shuffle-images .row {
    margin:0;
}

.featured-work .shuffle-images .row .col-sm{
    padding: 0;
    transition: all .5s ease-in-out;
}

.featured-work .row  img{
    width: 100%;
}
/*End Featured Work*/
/*Start Latest Post*/

.latest-post{
    padding:0 0 100px;
}

.latest-post h2{
    font-size: 45px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.latest-post .text-description {
    width:80%;
    margin:0 auto 45px;
    color:#6a6a6a;
    font-size: 20px;

}
.latest-post .card{
    border:none;
    margin-bottom: 30px;
}
.latest-post .card .card-title{
    color:#08526d;
    font-size: 16px;
    line-height: 1.5;
}

.latest-post .card .card-text{
    color:#687074;
    margin-bottom: 10px;
}

.latest-post .card  a{
    color:#ed1d24;
    font-weight: bold;
}
/*End Latest Post*/

/*start testimonial*/
.testimonial{
    background-size: cover;
    background-image: url("../images/testimonial-bg.png");
    position:relative;

}

.testimonial .overlay{
    position:absolute;
    width: 100%;
    height:100%;
    left:0;
    top:0;
    background-color: rgba(0,0,0,.6);
    z-index: 2;
}

.testimonial .container{
    position:relative;
    z-index: 3;
}

.testimonial .carousel-caption{
    top:50%;
    margin-top:-165px;
}
.testimonial .carousel-caption img{
    margin-bottom: 20px;
}
.testimonial .carousel-caption h5{
    margin-bottom: 5px;
    text-transform: uppercase;
}

.testimonial .carousel-caption h5 + span{
   font-size: 18px;
    margin-bottom: 30px;
    display: inline-block;
}


.testimonial .carousel-indicators li{
    height: 8px;
    cursor: pointer;
}

.carousel-control-next, .carousel-control-prev{
    z-index: 3;

}

/*end testimonial*/

/*Start pricing table*/

.pricing-table{
    padding:100px 0 100px;
    background-color: #f7f7f7;
}

.pricing-table h2{
    font-size: 45px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.pricing-table .text-description {
    width:80%;
    margin:0 auto 85px;
    color:#6a6a6a;
    font-size: 20px;

}
.pricing-table .card{
    border:none;
    margin-bottom: 30px;
}

.pricing-table .card-body{
    padding:0;
}
.pricing-table .card .card-title{
    color:#08526d;
    font-size:25px;
    line-height: 1.5;
    margin-top: 40px;
}

.pricing-table .card .card-text{
    color:#08526d;
    margin:30px 0 10px;
    background-color: #f7f7f7;
    padding:10px;
    font-size: 30px;
    font-weight: bold;
}

.pricing-table .card .card-text span{
    font-size: 15px;
}


.pricing-table .list-group-item{
    border:none;
}
.pricing-table .card  .card-link{
   background-color:#ed1d24;
    color:#fff;
    margin-top:15px;
    margin-bottom: 30px;
    padding:10px 15px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}
.pricing-table .card.corporate{
    margin-top: -20px;
}
.pricing-table .card.corporate .card-text{
    background-color:#ed1d24;
    color:#fff;
}
.pricing-table .card.corporate .card-link{
    background-color: #08526d;
}

/*End pricing table*/
/*start choose us*/

.choose-us img{
   max-width: 100%;
}

.choose-us .info{
    padding:0;
}

.choose-us .info:last-child{
    background-color: #08526d;
    color:#fff;
    padding-top: 30px;
    padding-bottom: 30px;
}
.choose-us .h1{
    margin: 40px;
}

.choose-us p{
    margin: 40px;
    line-height: 1.5;
    font-size: 16px;
}

.choose-us .read-more{
    background-color:#ed1d24;
    color:#fff;
    margin:0 0 0 40px;
    padding:8px 20px;
    text-decoration: none;
    cursor: pointer;
}
/*End choose us*/
/*start stats*/

.stats{
    padding:100px 0;
    color:#08526d;
}

.stats .stat-box{
    margin-bottom: 40px;
    }
.stats .number{
    display: block;
    font-size: 50px;
    font-weight: bold;
}
.stats p{
    font-size: 20px;
    color:#ed1d24;
    margin-bottom: 0;
}
/*end stats*/
/*start contact us*/
.contact-us {
    padding: 80px 0;
    background-color:#ed1d24 ;
    color:#fff;
    font-size: 22px;
}

.contact-us p{
  margin: 0;
}
@media (max-width: 768px) {
    .contact-us p{
        margin-bottom: 40px;
    }
}
.contact-us a{
  color:#fff;
    border:2px solid #fff;
    padding:6px 15px  8px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

}
/*end contact us*/


/*start footer*/
.footer{
    padding:100px 0;
}
.footer .site-info h2{
    margin-bottom: 35px;
}
.footer .site-info h2 span{
    text-transform: capitalize;
    font-size: 40px;

}
.footer .site-info h2 span:first-child{
    color:#08526d;
    font-weight: bold;
}
.footer .site-info h2  span:last-child {
    color: #ec1c23;
}

.site-info p{
    line-height: 1.8;
    color:#727272;
}

.site-info a{
    color:#08526d;
    font-size: 15px;
    font-weight: bold;
}

.site-info a:before{
    font-family: 'FontAwesome';
    content:"\f138";
    display: inline-block;
    margin-right: 5px;
}

.footer .helpfull-links h2,
.footer .contact h2{
    color:#08526d;
    font-size: 22px;
    margin-bottom: 57px;
}

.footer .helpfull-links ul li:before{
    font-family: 'FontAwesome';
    content:'\f054';
    margin-right:5px;
    font-size: 12px;
    color:#08526d;

}

.footer .contact ul li{
    margin-bottom: 25px;
}

@media (max-width: 992px) {
    .footer .helpfull-links h2,
    .footer .contact h2{
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .footer .contact ul li{
        margin-bottom: 5px;
    }
}
/*end footer*/
/*start copyright*/
.copyright{
    border:1px solid #c0c0c0;
    padding:20px;
}
.copyright ul{
    margin: 0;
}
.copyright ul li{
    display: inline-block;
}

.copyright ul li a{
    color:#777;
    margin-left: 20px;
    font-size: 17px;
}
/*end copyright*/



